h1 {
    text-align: left;
}

table, th, td {
    border: 2px #808080 solid;
}

th, td {
    padding: 8px;
}

table {
    text-align: left;
    margin-bottom: 10px;
}

#graduate th{
    font-size: 20px;
    padding: 20px;
}

#graduate td{
    font-size: 20px;
    padding: 20px;
}
