body{
    width: 100%;
    font-size: 100%;
}

h1 {
    text-align: center;
    width: 100%;
}

table, th, td {
    border: 2px #808080 solid;
}

th, td {
    padding: 8px;
}

table {
    text-align: left;
}

#graduate th{
    font-size: 20px;
    padding: 20px;
}

#graduate td{
    font-size: 20px;
    padding: 20px;
}
